.primary-bg{
    background-color: #fffaf0;
}

.white-bg{
   background-color: #ffffff;
}

.green-bg{
    background-color:  #02c372;
}

.white-txt{
    color: #fffaf0;
}

.black-txt{
    color: #141414;
}

.green-txt{
    color:  #02c372;
}

.red-bg{
    background-color: #dc3545;
}