.transaction-info{
    border-radius: 50px;
    width: 100%;
    height: 100vh;
    padding: 15px;
    justify-content: center;
}

.transaction-info> div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 215px;
    height: 100%;
}

.transaction-info> div>div{
    font-size: 20px;
    font-weight: 300;
}

.form-section{
    width: 100%;
    padding: 15px 15px;
    border-radius: 50px;
    margin: 20px 0px;
    font-size: large;
    justify-content: center;
}

.create-transaction{
    width: 100%;
}
form{
    gap: 20px;
}